@import "tailwindcss";

/* polymarket uses this random font that i had to rip off from their site */
@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #1d2b3a;
  font-family: "Open Sauce One", sans-serif;
}
